/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*   ----- Debugging  -----  */
* { 

  color: #1E1E1E;

  padding: 0;
  margin: 0;
}

html {
  /* background-image: url("./images/21-monroe-street-new-york-ny.webp"); */
  background-image: url("./images/21-monroe-street-new-york-ny.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/*   ----- Variables  -----  */
:root {
    /*--custom-color-name:;
    --custom-embellishment-name:; */
    --main-white-shade: #f9f9f9;
    /*--accent-color-red: #A60F2B;*/
    --accent-color-red: rgba(166, 15, 43, 0.93);
    font-family: Poppins;
    font-size: 16px;
  }
  
  a {
    color: #58BDD2;
    padding: .5rem;
    font-weight: 700;

  }

  header {

      /*border: 3px dotted black; */
      /* position: fixed; */
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;

      height: 8rem;
      background-color: var(--main-white-shade);
      z-index: 100; /* Ensures the header is on top of other content */


      margin-top: 5rem;
  }

  header h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
    justify-content: center;
  }

  header img {
    width: 6rem;
    margin-left: 2rem;
  }

  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
  border: 1px solid red;
/*
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 3rem;
*/
  overflow-y: scroll;

  margin: 0;
  padding: 0;
  width: 100vw; /* Full width by default */

  max-width: 80vw; /* Limit the maximum width to 80% of the viewport width for larger screens */
  margin-left: auto; /* Center the content on larger screens */
  margin-right: auto;

  }

  .global {

  background-color: var(--main-white-shade);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .global a, .local a {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  .local {

  background-color: var(--main-white-shade);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  #index {
    display: grid;
    /*border: 3px solid green;*/
    background-color: var(--accent-color-red);

  }

  #contact {
    display: grid;
    border: 3px solid green;
    background-color: var(--accent-color-red);

  }

  #gallery {
    display: grid;
    background-color: var(--accent-color-red);

  }

  .anchor {

  }

  main {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  
  @media (min-width: 768px) {
    body {
      padding: 0 5rem; /* Add some padding on larger screens */
    }
  }

  #index article {
    /* scroll-margin-top: 14rem;
    scroll-snap-margin-top: 14rem; /* certain versions of Safari */
  }
/*  
    ----- Page layout blocks -----  
  header {}
  main {}
  section {}
  article {}
    #topic1 {}
    #topic2 {}
  div {}
  aside {}
  footer {} */
  
  /* ----- Anchors ----- Text links 
  a {
    color: 58BDD2;
  }
  a:link {}
  a:hover {}
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  
  nav {}
  nav a {}
  nav a:hover {}
  
  /*  -----  Typography  ----- 
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {} 
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- 
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- 
  table {}
  caption {}
  thead {}
  tbody {}
  tfoot {}
  tr {}
    tr:nth-child(even) {}
  th {}
  td {}
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- 
  form {}
  fieldset {}
    legend {}
  label {}
  button {}
  input {}
  select {}
    optgroup {}
    option {}
  textarea {}
  output {}
  meter {}
  progress {}
  
  
  /* ----- Media ----- 
  figure {}
    figcaption {}
    figure img {}
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  
  .gallery {}
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== 
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== 
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  
  @media print {}
  
  */